* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 60%;
    height: fit-content;
    margin: 3% auto;
    background-color: rgba(19, 19, 19, 0.132);
    padding: 3%;
}

h1 {
    color: rgba(0, 0, 255, 0.667);
    padding-bottom: 3%;
}

select,
input {
    padding: 10px;
    width: 50%;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(6, 11, 45, 0.396);
}

.range {
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.row-1,
.row-2 {
    display: flex;
    justify-content: center;
    gap: 5%;
}

fieldset {
    display: flex;
    text-align: left;
    padding: 2%;
}

.fuel-radio,
.box-radio,
.comfort-check {
    width: 50%;
}

legend {
    padding: 0 1%;
}

#result {
    align-self: center;
    padding: 2%;
    color: rgb(255, 255, 255);
    background-color: rgba(88, 89, 93, 0.515);
    border: none;
    cursor: pointer;
    transition: .6s;
}

#result:hover {
    background-color: rgba(88, 89, 93, 0.27);
    color: blue;
}